<div class="container my-5 ">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="newQuery-tab" data-bs-toggle="tab" data-bs-target="#newQuery-tab-pane"
                type="button" role="tab" aria-controls="newQuery-tab-pane" aria-selected="true">New Query</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="lastWeek-tab" data-bs-toggle="tab" data-bs-target="#lastWeek-tab-pane"
                type="button" role="tab" aria-controls="lastWeek-tab-pane" aria-selected="false">Last Week</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button"
                role="tab" aria-controls="all-tab-pane" aria-selected="false">All</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="status-tab" data-bs-toggle="tab" data-bs-target="#status-tab-pane"
                type="button" role="tab" aria-controls="status-tab-pane" aria-selected="false">Status</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="newQuery-tab-pane" role="tabpanel" aria-labelledby="newQuery-tab"
            tabindex="0">
            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com <br> 11/06/2001
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="lastWeek-tab-pane" role="tabpanel" aria-labelledby="lastWeek-tab" tabindex="0">

            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
            <div class="container mt-3" style="width: 100%; height: fit-content;">
                <div class="card">
                    <h5 class="card-header">Gokul
                        <br>gokul@mail.com
                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Comments" type="text">
                        </div>
                        <a href="#" class="btn btn-primary mt-3">Close the Query</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
            Hello
        </div>
        <div class="tab-pane fade" id="status-tab-pane" role="tabpanel" aria-labelledby="status-tab" tabindex="0">
            Status
        </div>
    </div>
</div>